<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    Copyright © 2021

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="{{ site.github.repository_url }}">Source code</a> of the site for PRs on typos.
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <a href="{{ site.url }}/privacy.html">Privacy policy</a>
      </div>
    </div>

  </div>

</footer>
